In [1]:
#Happy coding!

"""titanic_predictions.py: This program predicts whether a person survived if they 
were in the titanic"""

#__author__ = "Immanuella Duke"

'titanic_predictions.py: This program predicts whether a person survived if they \nwere in the titanic'

In [1]:

#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
import csv
from sklearn import datasets, linear_model
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [3]:
#import dataset
train_data = pd.read_csv('train.csv')
new_train_data = train_data
#use age, gender, pclass as features and survived as y label

#preprocess data
#for gender

cleanup_gender = {"Sex": {"male": 0, "female": 1}}                



new_train_data.replace(cleanup_gender, inplace=True)
new_train_data['Age'] = pd.cut(new_train_data['Age'], 4, labels=[1, 2, 3, 4])
new_train_data

new_train_data = new_train_data.fillna(method = 'ffill')

train_X = pd.concat([new_train_data['Age'], new_train_data['Sex'], new_train_data['Pclass']], axis = 1)

train_Y = new_train_data['Survived']


new_train_data.head(30)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,2,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,2,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,2,0,0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,2,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,2,0,0,373450,8.0500,C123,S
5,6,0,3,"Moran, Mr. James",0,2,0,0,330877,8.4583,C123,Q
6,7,0,1,"McCarthy, Mr. Timothy J",0,3,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",0,1,3,1,349909,21.0750,E46,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,2,0,2,347742,11.1333,E46,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,1,1,0,237736,30.0708,E46,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",1,1,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",1,3,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",0,1,0,0,A/5. 2151,8.0500,C103,S
13,14,0,3,"Andersson, Mr. Anders Johan",0,2,1,5,347082,31.2750,C103,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,1,0,0,350406,7.8542,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1,3,0,0,248706,16.0000,C103,S
16,17,0,3,"Rice, Master. Eugene",0,1,4,1,382652,29.1250,C103,Q
17,18,1,2,"Williams, Mr. Charles Eugene",0,1,0,0,244373,13.0000,C103,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,2,1,0,345763,18.0000,C103,S
19,20,1,3,"Masselmani, Mrs. Fatima",1,2,0,0,2649,7.2250,C103,C
20,21,0,2,"Fynney, Mr. Joseph J",0,2,0,0,239865,26.0000,C103,S
21,22,1,2,"Beesley, Mr. Lawrence",0,2,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",1,1,0,0,330923,8.0292,D56,Q
23,24,1,1,"Sloper, Mr. William Thompson",0,2,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",1,1,3,1,349909,21.0750,A6,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,2,1,5,347077,31.3875,A6,S
26,27,0,3,"Emir, Mr. Farred Chehab",0,2,0,0,2631,7.2250,A6,C
27,28,0,1,"Fortune, Mr. Charles Alexander",0,1,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",1,1,0,0,330959,7.8792,C23 C25 C27,Q
29,30,0,3,"Todoroff, Mr. Lalio",0,1,0,0,349216,7.8958,C23 C25 C27,S

In [32]:
#train model

#logistic regression

logfunc = LogisticRegression(solver = 'lbfgs')
logfunc.fit(train_X, train_Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [33]:
#knn classifier
neigh = KNeighborsClassifier(n_neighbors=2)
neigh.fit(train_X, train_Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [48]:
#random forest
#clf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
#clf = AdaBoostClassifier(n_estimators=100)
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0)
clf.fit(train_X, train_Y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=1.0, loss='deviance', max_depth=1,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='auto',
                           random_state=0, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [49]:

#import test dataset
test_data =  pd.read_csv('test.csv')
new_test_data = test_data

#preprocess data
#for gender
cleanup_gender = {"Sex": {"male": 0, "female": 1}}                


new_test_data.replace(cleanup_gender, inplace=True)
new_test_data['Age'] = pd.cut(new_test_data['Age'], 4, labels=[1, 2, 3, 4])
print(len(new_test_data))


values = {'Age': 99, 'Sex': 99,'Pclass': 99}


new_test_data = new_test_data.fillna(method = 'ffill')

test_X = pd.concat([new_test_data['Age'], new_test_data['Sex'], new_test_data['Pclass']], axis = 1)
test_X

#prediction for logistic reg
pred_y = logfunc.predict(test_X)

#prediction for knn
pred_y2 = neigh.predict(test_X)

#prediction for clf
pred_y3 = clf.predict(test_X)

418

In [23]:
submission = pd.DataFrame({'PassengerId':new_test_data['PassengerId'],'Survived':pred_y})

filename = 'predictions.csv'

submission.to_csv(filename,index=False)

print('Saved file: ' + filename)

Saved file: predictions.csv

In [24]:
submission = pd.DataFrame({'PassengerId':new_test_data['PassengerId'],'Survived':pred_y2})

filename = 'predictionsknn.csv'

submission.to_csv(filename,index=False)

print('Saved file: ' + filename)

Saved file: predictionsknn.csv

In [50]:
submission = pd.DataFrame({'PassengerId':new_test_data['PassengerId'],'Survived':pred_y3})

filename = 'predictionsrf.csv'

submission.to_csv(filename,index=False)

print('Saved file: ' + filename)

Saved file: predictionsrf.csv

In [81]:
#do cross validation on train set

In [ ]:
#use linear regression

In [3]:
#use logistic regression

In [4]:
#use decision trees

In [5]:
#use knn

In [9]:
#use ensemble model

In [10]:
###########################
#do predictions on test data

In [11]:
#do predictions and measure accuracy for linear regr

In [12]:
#do predictions and measure accuracy for logistic regr

In [13]:
#do predictions and measure accuracy for decision trees

In [14]:
#do predictions and measure accuracy for knn

In [ ]:
#do predictions and measure accuracy for ensemble