In [1]:
#Happy coding!

"""titanic_predictions.py: This program predicts whether a person survived if they 
were in the titanic"""

#__author__ = "Immanuella Duke"

'titanic_predictions.py: This program predicts whether a person survived if they \nwere in the titanic'

In [1]:

#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
#import dataset
train_data = pd.read_csv('train.csv')
new_train_data = train_data

In [33]:
#use age, gender, pclass as features and survived as y label

#preprocess data
#for gender
cleanup_gender = {"Sex": {"male": 0, "female": 1}}                

new_train_data.replace(cleanup_gender, inplace=True)
pd.cut(new_train_data['Age'], 4, labels=[1, 2, 3, 4])
new_train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [27]:
#for age
#new_train_data['Age'].replace(['0-20','21-40', '41-60', '61++'],[0,1,2,3],inplace=True)
df = pd.DataFrame({'Age':['0-20','21-40', '41-60', '61++']})

a = np.where(new_train_data['Age'] <= 20)

for i in a:
    new_train_data['Age'].iloc[i,] = 0


b = np.where(new_train_data['Age'] > 20 and new_train_data['Age'] <= 40 )
b.empty()
for i in b:
    new_train_data['Age'].iloc[i,] = 1


c = np.where(new_train_data['Age'] > 40 and new_train_data['Age'] <= 60 )
for i in c:
    new_train_data['Age'].iloc[i,] = 2
    
    
d = np.where(new_train_data['Age'] > 60 )
for i in d:
    new_train_data['Age'].iloc[i,] = 3
    
new_train_data['Age']

#separate features and label
# X_features = [train_data.Pclass]
# Y_label = 
#new_train_data

c:\users\immanuella duke\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [81]:
#do cross validation on train set

In [ ]:
#use linear regression

In [3]:
#use logistic regression

In [4]:
#use decision trees

In [5]:
#use knn

In [9]:
#use ensemble model

In [10]:
###########################
#do predictions on test data

In [11]:
#do predictions and measure accuracy for linear regr

In [12]:
#do predictions and measure accuracy for logistic regr

In [13]:
#do predictions and measure accuracy for decision trees

In [14]:
#do predictions and measure accuracy for knn

In [ ]:
#do predictions and measure accuracy for ensemble